<div class="row">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Today's Work Orders Stats
            </div>
            <div class="card-body">
                <canvas id="myPieChart" width="300" height="300"></canvas>
            </div>
        </div>
    </div>
</div>
