@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    ITI<br />
    Smart Village, Giza, Egypt<br />
    <abbr title="Phone">P:</abbr>
    +201061304489
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:engineer.ahmedabdelhak@gmail.com">engineer.ahmedabdelhak@gmail.com</a><br />
</address>