@model BuildingFacilityManager.Models.Building_Models.Storey

<tr id="id-@Model.Id">
    <td>
        @Model.Id
    </td>
    <td>
        @Model.Label
    </td>
    <td>
        @Model.Description
    </td>
</tr>