@model BuildingFacilityManager.ViewModels.BuildingViewModel



    <button type="button" class="btn btn-success" style="float: right" data-toggle="modal" data-target="#myModal-AddStorey">
        Add
    </button>
    <h3>Stories</h3>
<div class="thumbnail">

<div class="caption">

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>Label</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <div id="storey-table">
        @foreach (var storey in Model.Stories)
        {

            <tr id="id-@storey.Id">
               
                <td>
                    @storey.Label
                </td>
                <td>
                    @storey.Description
                </td>
            </tr>
        }
        </div>

        </tbody>
    </table></div></div>


