@model BuildingFacilityManager.ViewModels.DashBoardViewModel
<style type="text/css">
    .col-xl-3.col-sm-6.mb-3 {
        padding-bottom: 5px;
    }
</style>
<h3>Today's Cost Stats</h3>

<div class="row">
    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-danger o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-money-bill-wave"></i>
                </div>
                <div class="mr-5">Total Costs up to now (@Model.TotalBuildingCosts) EGP</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-primary o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-money-bill"></i>
                </div>
                <div class="mr-5"> Cost of Today's Purchase Orders (@Model.TodayPurchasesOrdersCost) EGP</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#CompletedPurchaseToday">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>


    <div class="col-sm-4 mb-3">
        <div class="card text-white bg-warning o-hidden h-100">
            <div class="card-body">
                <div class="card-body-icon">
                    <i class="fas fa-money-bill-wave-alt"></i>
                </div>
                <div class="mr-5"> Total Assets Costs (@Model.TotalAssetsCosts) EGP</div>
            </div>
            <a class="card-footer text-white clearfix small z-1" href="#assetsFurnitureTable">
                <span class="float-left">View Details</span>
                <span class="float-right">
                    <i class="fas fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

</div>

