@model BuildingFacilityManager.ViewModels.AssetsViewModel

@{
    ViewBag.Title = "Assets";
    Layout = "../Shared/_Layout.cshtml";
}

<h2>Assets</h2>

@Html.Partial("Assets_Table_Inspector_Partial")
