@model BuildingFacilityManager.ViewModels.BuildingViewerViewModel
@using System.Web.Script.Serialization
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@{
    ViewBag.Title = "Building Viewer";
}


@{


    var assetsList = JsonConvert.SerializeObject(@Model.Assets,
        Formatting.Indented,
        new JsonSerializerSettings()
        {
            ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore,
            ContractResolver = new CamelCasePropertyNamesContractResolver()
        });


    
}


    <div style="margin-left: -190px" id="webgl"></div>


@section scripts{
    <script>
        Assets = @Html.Raw(@assetsList) 
    </script>  
    
   
}
